VBox {
    -fx-padding: 5;
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 5);
    -fx-background-radius: 5;
}

VBox:hover {
    -fx-background-color:  #ffca2b;
}

.book-title {
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.book-title:hover {
    -fx-underline: true;
}

.book-cover {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background-color: #38761d;
}

.scroll-pane .viewport {
    -fx-background-color: #38761d;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #2e6118;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}
